<div style="display:flex; gap: 5rem;">
  <div>

    <h1 id="main_title">Productos agregados</h1>
    <div id="container">
      {{#each products}}
        <div style="border: 2px solid red; padding: 10px; weight:250px">
          <ul id="{{this.id}}">
            <li>id: {{this.id}}</li>
            <li>title: {{this.title}}</li>
            <li>desc: {{this.description}}</li>
            <li>price: {{this.price}}</li>
            <li>thumbnail: {{this.thumbnail}}</li>
            <li>code: {{this.code}}</li>
            <li>stock: {{this.stock}}</li>
          </ul>
        </div>
      {{/each}}
    </div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>